app/app.iml
app/.gradle/
app/.idea/
app/local.properties
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
FreeAll.iml
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
app/src/main/res/values/configuration.xml
